.all{
  background: #ccc;
}

body{
  h1{
      font:
        size: 72px;
        weight: 700;
      color: white;
      text-transform: uppercase;
      text-align: center;
  }
}

  
nav{
  float: right;
}

