header{
  margin-left: 5px;
  margin-right: 5px;
  background: #283646;
  display: relative;
  width: 100%;
  height: 90px;
  position: fixed;
  margin: auto;
  top: 0;
}

body{
  background: url('../img/background.jpg');
  background-size: cover;
  margin: 0;  
}

footer{
  background-color: #283646;
  color: rgb(255,255,255,1);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.logo{
  width: 92px;
  height: 79px;
  float: left;
  background: url("../img/logo.jpeg");
  margin: 0 0 0 10px;
  color: rgba(0,0,0,1);
}

.key{
  width: 56px;
  height: 56px;
  background: url("../img/key.jpg");
  float: right;
  margin: 20px 10px 0 0;
}

h1{
  text-transform: uppercase;
  font-family: 'Alegreya Sans', cursive;
  font-style: italic;
  text-align: center;
  padding-top: 15px;
  color: rgb(128,128,0);
}

.article-node{
  width: 232px;
  height: 163px;
}

.articles{
  margin: auto;
  width: 100%;
}

.article-left{
  float: left;
  margin: 95px 0 0 50px;
}

.article-right{
  float: right;
  margin: 95px 50px 0 0;
}

.foot{
  margin: 20px 0 0 20px;
}
